/**
 * Various components
 */

.button {
  display:         inline-block;
  box-sizing:      border-box;
  background:      @color-background;
  border:          1px solid lighten(@font-color, 80%);
  border-radius:   @border-radius;
  color:           @font-color;
  text-decoration: none;
  cursor:          pointer;
  padding:         .3em 1em;

  &:hover {
    background:      lighten(@font-color, 90%);
    text-decoration: none;
  }

  &.primary, &.success, &.warning, &.danger, &.info {
    color: @color-background;
  }

  &.primary {
    background: @color-primary;
    border-color: @color-primary;

    &:hover {
      background: darken(@color-primary, @color-shading);
    }
  }

  &.success {
    background: @color-success;
    border-color: @color-success;

    &:hover {
      background: darken(@color-success, @color-shading);
    }
  }

  &.warning {
    background: @color-warning;
    border-color: @color-warning;

    &:hover {
      background: darken(@color-warning, @color-shading);
    }
  }

  &.danger {
    background: @color-danger;
    border-color: @color-danger;

    &:hover {
      background: darken(@color-danger, @color-shading);
    }
  }

  &.info {
    background: @color-info;
    border-color: @color-info;

    &:hover {
      background: darken(@color-info, @color-shading);
    }
  }
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
  .button;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  padding: .5em 1em;
}

button[type="submit"], input[type="submit"] {
  .button.primary;
}

.group {
  display: flex;
  flex-wrap: nowrap;

  > * {
    border-radius: 0;

    &:first-child {
      border-radius: @border-radius 0 0 @border-radius;
    }

    &:last-child {
      border-radius: 0 @border-radius @border-radius 0;
    }

    &:not(:last-child) {
      border-right-width: 0 !important;
    }
  }

  > input, > textarea, > select {
    flex: 1;
    min-width: 0 !important;
  }
}

code {
  background: lighten(@color-info, 30%);
  display: inline-block;
  padding: 0 .5em;
  border-radius: @border-radius;
  white-space: nowrap;
}

pre {
  code {
    background:  darken(@color-background, 3%);
    display:     block;
    margin:      0;
    padding:     .7em 1.25em;
    white-space: pre-wrap;
    position:    relative;

    &[lang] {
      &:before {
        content: attr(lang);
        display: block;
        position: absolute;
        font-size: 90%;
        color: @color-info;
        right: 0;
        top: 0;
        border: 1px solid lighten(@color-info, 20%);
        border-right: none;
        border-top: none;
        border-radius: 0 @border-radius 0 @border-radius;
        padding: 0 .75em;
        background-color: lighten(@color-info, 30%);
        opacity: 0.7;
      }
    }
  }
}
