.basic-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > header, > main, > footer {
    padding: @layout_paddings;
    display: flex;
  }

  > header {
    background: yellow;
  }

  > main {
    flex: 1;

    > article {
      flex: 1;
    }

    > aside {
      width: @sidebar_width;
    }
  }

  > footer {
    background: green;
  }
}

.fixed-layout {
  .basic-layout;

  > header, > main, > footer {
    padding-left:  0;
    padding-right: 0;
    justify-content: center;

    > .paddings {
      display: flex;
      width: @layout_width;
    }
  }

  > main {
    > .paddings {
      > article {
        flex: 1;
      }

      > aside {
        width: @sidebar_width;
      }
    }
  }
}
