/**
 * All the typography stuff go in here
 */
body {
  font-size:   @font-size;
  font-family: @font-family;
  line-height: @line-height;
  color:       @font-color;
}

.header {
  font-family: @font-headers;
  font-weight: @font-headers-weight;
}

h1, h2, h3, h4, h5, h6, label, dt, legend {
  .header;
}

h1 { font-size: 2em;    }
h2 { font-size: 1.5em;  }
h3 { font-size: 1.17em; }
h4 { font-size: 1em;    }
h5 { font-size: 0.83em; }

a {
  color: @color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: darken(@color-primary, 10%);
  }
}

body > header {
  a, a:hover {
    color: @color-background;

    &.logo {
      font-size: 230%;
    }
  }
}

blockquote {
  margin-left:  0;
  margin-right: 0;
  padding: 0 1.5em;
  border:  none;
  border-left: .5em solid @border-color;
  border-radius: @border-radius;

  *:not(h1), *:not(h2), *:not(h3), *:not(h4), *:not(h5) {
    color: @font-color;
  }

  cite {
    color: lighten(@font-color, 33%);

    &:before {
      content: "—";
      margin-right: .25em;
    }
  }

  &.primary {
    border-left-color: @color-primary;
    h1, h2, h3, h4, h5 {
      color: @color-primary;
    }
  }

  &.success {
    border-left-color: @color-success;
    h1, h2, h3, h4, h5 {
      color: @color-success;
    }
  }

  &.warning {
    border-left-color: @color-warning;
    h1, h2, h3, h4, h5 {
      color: @color-warning;
    }
  }

  &.danger {
    border-left-color: @color-danger;
    h1, h2, h3, h4, h5 {
      color: @color-danger;
    }
  }

  &.info {
    border-left-color: @color-info;
    h1, h2, h3, h4, h5 {
      color: @color-info;
    }
  }
}

tt, code {
  font-family: @font-monospace;
  font-size:   85%;
}

tt {
  color: @color-info;
}

body > footer {
  color: lighten(@font-color, 40%);
}

ul, ol {
  &.unstyled {
    list-style: none;
    margin:  0;
    padding: 0;
  }

  &.horizontal {
    .unstyled;

    > li {
      display: inline-block;
    }
  }
}

dl {
  dd {
    margin-left: 0;
  }

  &.horizontal {
    dt {
      float: left;
      width: @form-label-width;
    }
  }
}
