/**
 * Various utility classes
 */

.primary {
  color: @color-primary;
  border-color: @color-primary;
}

.success {
  color: @color-success;
  border-color: @color-success;
}

.warning {
  color: @color-warning;
  border-color: @color-warning;
}

.danger {
  color: @color-danger;
  border-color: @color-danger;
}

.info {
  color: @color-info;
  border-color: @color-info;
}

.tiny {
  font-size: 66%;
}

.small {
  font-size: 80%;
}

.large {
  font-size: 140%;

  &, * {
    border-width: @border-width * 2 !important;
  }
}

.jumbo {
  font-size: 200%;

  &, * {
    border-width: @border-width * 3 !important;
  }

}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.apperance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}
