/**
 * The configurations go in here
 *
 * USAGE:
 *
 *     @import "painless";
 *
 *     @layout-width: 1000px;
 *     @sidebar-width: 30em;
 */

// layouts
@layout-width: 970px;      // fixed layout width
@layout-paddings: 1em 2em; // header/main/footer elements paddings
@sidebar-width: 20em;

// colors
@color-background: #fff;
@color-foreground: #333; // fonts and stuff
@color-primary:    #3598db;
@color-success:    #51af61;
@color-warning:    #f4d03f;
@color-danger:     #ed4d50;
@color-info:       #af7ac5;
@color-shading:    8%;

@primary-color: #A00;

// typography
@font-size:      14px; // default font-size
@font-color:     @color-foreground; // default font-color
@font-family:    "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-headers:   inherit; // headers font-family
@font-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

// components
@border-radius: 3px; // standard border-radius


// base64 images
@image-caret-down: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAAR0lEQVQ4y2NgGAUjHjgD8QQC2JkSC0KA+C8Q/8eB/0LVUATicFjyFypHFRANxH+QDP8DFaMqCAfi31AcTqtId4fiUTAKEAAAWwscMzqrRSoAAAAASUVORK5CYII87d67e0a32c260521d671b5e34895057);
@image-file-upload: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAalAAAGpQEXmZfdAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAFFQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALIimcAAAABp0Uk5TAAIGFh4qLDAzNH+ChIyQm6OkqLG1t8fM2PK3nfeBAAAAdklEQVQoU7XJNxaDMAAE0RVJBJEsTJj7H9SF/URSiaecL/2jpGmS6PfgI5J4iMn3R6SFBRZoL9AzllCO9BcwuSxY5Ua3LNj7fQpSV+1QuTRAzSypgELSTB2gY5VkpslIWuku8OsM2yu0HcBxygXIhvehIdOzfQDvnArxBhUREgAAAABJRU5ErkJggg7a2de03f3bb980309cbc9f4186625937);
