/**
 * The configurations go in here
 *
 * USAGE:
 *
 *     @import "painless";
 *
 *     @layout_width: 1000px;
 *     @sidebar_width: 30em;
 */

@layout_width: 800px;      // fixed layout width
@layout_paddings: 1em 2em; // header/main/footer elements paddings
@sidebar_width: 20em;
